use Mix.Config

config :sugarcane,
  ecto_repos: [Sugarcane.Repo]

config :sugarcane, Sugarcane.Repo,
  database: "bots",
  username: "are",
  password: "very",
  hostname: "cool",
  loggers: [Sugarcane.Metrics.EctoInstrumenter]

config :nostrum,
  token: "owo",
  num_shards: :auto

config :porcelain,
  driver: Porcelain.Driver.Basic

config :prometheus, Sugarcane.Metrics.PipelineInstrumenter,
  labels: [:status_class, :method, :host, :scheme, :request_path],
  duration_buckets: [10, 100, 1_000, 10_000, 100_000,
                     300_000, 500_000, 750_000, 1_000_000,
                     1_500_000, 2_000_000, 3_000_000],
  registry: :default,
  duration_unit: :microseconds